include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include label_scanner *.css
recursive-include label_scanner *.csv
recursive-include label_scanner *.html
recursive-include label_scanner *.ico
recursive-include label_scanner *.js
recursive-include label_scanner *.json
recursive-include label_scanner *.md
recursive-include label_scanner *.png
recursive-include label_scanner *.py
recursive-include label_scanner *.svg
recursive-include label_scanner *.txt
recursive-exclude label_scanner *.pyc